version: '3.8'
name: uplab-IA
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./app/db:/app/app/db
    environment:
      - OLLAMA_HOST=http://ollama:11434
    env_file:
      - .env
    depends_on:
      - ollama
    networks:
      - rag-network
    restart: unless-stopped

  ollama:
    build:
      context: .
      dockerfile: DockerfileOllama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./prompt_system.txt:/prompt_system.txt
      - ./entrypoint.sh:/entrypoint.sh
    networks:
      - rag-network
    restart: unless-stopped
      

networks:
  rag-network:
    driver: bridge

volumes:
  ollama_data:
